<div class='row padding-bottom'>
	<%= link_to '<i class="fa fa-angle-double-left"></i> Back to Index'.html_safe, admin_memberships_url, class: 'orange' %>
	<div class='col-md-10 col-md-offset-2'>
		<h2>Create a New Membership</h2>
		<br>
		<br>
		<%= render 'form' %>
	</div>
</div>