<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingOne">
      <h4 class="panel-title green">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Illinois Concealed Carry Permit Part 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body lead">
        <p class='green'><b>$160 (Stand Alone Class CCW1) - (Does not include State Application Fees)</b></p>

        <p class='green'><b>OPEN TO ALL ILLINOIS RESIDENTS WITH F.O.I.D. CARDS.</b></p>

        <p class='green'><b>NRA BASIC PISTOL (CERTIFIED COURSE)</b></p>

        <p class='green'><b>8 HOUR COURSE</b></p>

        <p>THE ILLINOIS CONCEALED CARRY COURSE COUNTS FOR ONE HALF OF THE REQUIRED 16 HOUR TRAINING COURSE FOR ALL ILLINOIS CONCEALED CARRY APPLICANTS.  THIS IS AN OFFICIAL NRA CERTIFIED COURSE AND WHEN COMPLETED, EACH APPLICANT WILL RECEIVE AN NRA CERTIFICATE, GUIDANCE FILLING OUT YOUR CCW APPLICATION, NRA BASIC PISTOL PACKET, RANGE TIME, CURRICULUM WILL BE SUPPLIED TO COMPLETE THIS PART OF THE ISP REQUIREMENT.
          <br>
          <br>

          <a href="/training_sessions#ccw_part_1" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingTwo">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Illinois Concealed Carry Permit Part 2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body lead">
        <p class='green'><b>$200 (Stand Alone Class CCW2) - (Does not include State Application Fees)</b></p>

        <p class='green'><b>8 HOUR COURSE</b></p>

        <p>OPEN TO ALL ILLINOIS RESIDENTS WITH A VALID F.O.I.D. CARD AND HAVE COMPLETED ACCEPTABLE PRIOR TRAINING REQUIREMENTS CONSISTANT WITH SECTIONS 75(g) AND (i) OF THE ACT.  ALL STUDENTS TAKING THIS ILLINOIS CONCEALED CARRY CLASS MUST SHOW PROOF OF PRIOR ACCEPTABLE COURSE CREDIT. 4-HOUR CREDIT FOR THE FOLLOWING COURSES: ILLINOIS HUNTER SAFETY COURSE, UTAH, FLORIDA, NEVADA, MISSOURI, KENTUCKY, MICHIGAN CONCEALED CARRY CLASS, AND CHICAGO FIREAMS SAFETY COURSE.  8-HOUR CREDIT FOR THE FOLLOWING COURSES: NRA BASIC PISTOL, NRA PERSONAL PROTECTION IN THE HOME, NRA PERSONAL PROTECTION OUTSIDE THE HOME, ACTIVE, RETIRED, OR HONORABLY DISCHARGED MEMBERS OF THE UNITED STATES ARMED FORCES.
          <br>
          <br>
        EACH APPLICANT AFTER QUALIFYING AND PASSING THIS COURSE WILL RECEIVE AN ILLINOIS STATE POLICE CONCEALED CARRY FIREARM TRAINING CERTIFICATE, HELP FILLING OUT YOUR CCW APPLICATION FOR SUBMISSION TO THE ILLINOIS STATE POLICE.  THIS COURSE WILL INCLUDE DISCUSSIONS INCLUDING YOUR RIGHT TO CARRY, USE OF DEADLY FORCE AS A LAST RESORT, RANGE PRACTICE, & TAKE HOME CURRICULUM SUPPLIED TO COMPLETE THIS PART OF YOUR ISP REQUIREMENT.
          <br>
          <br>
          <a href="/training_sessions#ccw_part_2" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingThree">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Illinois Carry and Conceal Permit Full Course (Includes Utah)
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body lead">
        <p class='green'><b>DISCOUNTED PRICE FOR FULL COURSE $300 (Does not include State Application Fees)</b></p>

          <p class='green'><b>OPEN TO ALL ILLINOIS RESIDENTS WITH A VALID F.O.I.D. CARD</b></p>

          <p>Includes complete ISP training requirements including range qualification.
            <ol>
              <li>Firearm Safety; Minimum 2 hours Classroom</li>
              <li>Basic principles of marksmanship; Minimum 3 hours Classroom / Range</li>
              <li>Care, cleaning, loading, and unloading of a concealable firearm; Minimum 3 hours classroom.</li>
              <li>All applicable state and Federal law relating to the ownership, storage, carry, and transportation of a firearm; Minimum 4 hours classroom.</li>
              <li>Weapon handling; Minimum 4 hours. Includes appropriate range time for live fire qualification with a firearm consisting of 30 rounds for qualification attaining a minimum score of 70% Note: there is an additional charge for ammunition.</li>
              <li>A short course will be included for all students regarding the requirements of filling out your Carry Conceal application.</li>
            </ol>
            <br>
            <br>
            <a href="/training_sessions#ccw_full" class='btn btn-gtr-orange'>Book a Class</a>
          </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingFour">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Utah Carry and Conceal Course
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body lead">
        <p class='green'><b>$125</b></p>

        <p>This four (4) hour course covers all information required by the State of Utah to qualify for non-resident Carry and Conceal within the State. Firearm laws vary from State to State and obtaining Utah’s CCW permit allows reciprocity with 31 other States. Presently, Wisconsin does not honor an Illinois permit but they do honor non-resident Utah permits.</p>

        <p>Utah permits are good for 5 years and fingerprinting is required. Utah charges a fee of $51.00 plus fingerprinting. GTR will provide fingerprinting and fingerprint cards an no charge to our students.
        </p>

        <p>Other states honoring Utah CCW non-resident permits are:
          <br>
          <br>
        Alabama, Alaska, Arizona, Arkansas, Delaware, Georgia, Idaho, Indiana, Iowa, Kansas, Kentucky, Louisiana. Minnesota, Mississippi, Missouri, Montana, Nebraska. North Carolina, North Dakota, Ohio, Oklahoma, Pennsylvania, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming.
        <br>
        <br>
        <a href="/training_sessions#utah_ccw" class='btn btn-gtr-orange'>Book a Class</a>
      </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingFive">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          NRA Basic Pistol
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body lead">
        <p class='green'><b>$125</b></p>

        <p>This four (4) hour course covers all information required by the State of Utah to qualify for non-resident Carry and Conceal within the State. Firearm laws vary from State to State and obtaining Utah’s CCW permit allows reciprocity with 31 other States. Presently, Wisconsin does not honor an Illinois permit but they do honor non-resident Utah permits.</p>

        <p>50 Rounds of Ammunition Required
          <br>
          <br>
          <a href="/training_sessions#nra_basic_pistol" class='btn btn-gtr-orange'>Book a Class</a>
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingSix">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Tactical Pistol 1
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body lead">
        <p class='green'><b>$350</b></p>

        <p>This two day course is designed to develop basic tactical handgun skills to the new shooter. The student will be introduced to the winning mindset through lecture and range exercises. Shooting fundamentals along with developing reflexive skills needed to deploy the pistol in a tactical environment will be stressed through out the training.
          <br>
          <br>
          Topics covered:
          <ul>
            <li>Safety</li>
            <li>Winning Mindset</li>
            <li>Fundamentals</li>
            <li>Ready Positions</li>
            <li>Loading / Unloading</li>
            <li>Malfunctions</li>
            <li>Drawing from the Holster</li>
            <li>Multiple Targets</li>
            <li>Sight Management</li>
            <li>Recoil Management</li>
          </ul>          
        </p>

        <p>Ammunition Requirement - 700 rounds .9mm (9x19) is the minimum service caliber for the course.</p>

        <p>Equipment Required
          <ul>
            <li>Pistol</li>
            <li>Holster</li>
            <li>Minimum 4 high-capacity (12+ round) magazines or 6 low-capacity (7-8) round magazines</li>
            <li>Magazine Pouch</li>
            <li>Belt</li>
            <li>Flashlight</li>
            <li>Flashlight Holder</li>
            <li>Clear wraparound ballistic eye protection</li>
            <li>Ear protection (electronic preferred)</li>
            <li>Knee and elbow pads strongly recommended</li>
            <li>No pancake, cross-draw or appendix-carry holster</li>
          </ul>
        </p>

        <p><a href="/training_sessions#tactical_pistol_1" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingSeven">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Tactical Pistol 2
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body lead">
        <p class='green'><b>$350</b></p>

        <p>This 2 day course is developed to build upon the students basic shooting skills. After a brief review and refresher, the course advances to improve the shooter’s core technical skills while enhancing their tactical pistol skills. Winning mindset is ingrained through constant range applications. Students will be introduced to shooting while moving, shooting while utilizing cover, low light and one handed shooting.  This course is designed for the intermediate shooter who wishes to advance their basic skills.</p>

        <p>Prerequisite: Tactical Pistol I or similar</p>

        <p>Topics covered:
          <ul>
            <li>Safety</li>
            <li>Mindset</li>
            <li>Fundamentals</li>
            <li>Failure Drills</li>
            <li>Shooting Positions</li>
            <li>Shooting Adverse Angles</li>
            <li>Tactical Use of Cover</li>
            <li>One Handed Shooting</li>
            <li>Shooting While Moving</li>
            <li>Low Light Shooting Techniques</li>
          </ul>
        </p>

        <p>Ammunition Requirements - 750 Rounds. 9mm (9x19) is the minimum service caliber for the course</p>

        <p>Equipment Required:
          <ul>
            <li>Pistol</li>
            <li>Holster</li>
            <li>Minimum 4 high-capacity (12+ round) magazines or 6 low-capacity (7-8) round magazines</li>
            <li>Magazine Pouch</li>
            <li>Belt</li>
            <li>Flashlight</li>
            <li>Flashlight Holder</li>
            <li>Clear wraparound ballistic eye protection</li>
            <li>Ear protection (electronic preferred)</li>
            <li>Knee and elbow pads strongly recommended</li>
            <li>No pancake, cross-draw or appendix-carry holster</li>
          </ul>
        </p>

        <p><a href="/training_sessions#tactical_pistol_2" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingEight">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Advanced Tactical Pistol
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body lead">
        <p class='green'><b>Advanced Training and Law Enforcement</b></p>
        <p class='green'><b>$600</b></p>

        <p>Although everyone would prefer to have a long gun in a tactical situation the truth is the vast majority of confrontations require you to defend yourself with a pistol. This 2 day class will focus on tactically deploying the pistol from concealed carry to offensively fighting with the pistol. We will cover topics such as interior movements as well as fighting in and around vehicles. Be prepared to shoot the pistol in various and unconventional positions; off hand manipulation will also be covered. Students should have solid fundamentals and be ready to push themselves mentally as well as physically. Drills will be fast paced with little down time in between. Whether you are a Police Officer or carry a pistol to protect what is important to you this class will improve your overall skills to quickly and effectively deploy the pistol.</p>

        <p>Topics Covered:
          <ul>
            <li>Safety</li>
            <li>Shooting fundamentals</li>
            <li>Ready positions</li>
            <li>One handed shooting and manipulation</li>
            <li>Shooting from cover</li>
            <li>Shooting while moving</li>
            <li>Shooting through mediums</li>
            <li>Deploying / fighting from a vehicle.</li>
            <li>Low light engagements</li>
            <li>Interior movements</li>
          </ul>
        </p>

        <p>Ammunition Requirements - 1500 rounds</p>

        <p>Equipment Needed:
          <ul>
            <li>Pistol (bring an extra just in case)</li>
            <li>5 high capacity magazines or 7 low capacity</li>
            <li>Pistol mounted light (recommended)</li>
            <li>Hand held tactical light</li>
            <li>Belt holster</li>
            <li>Magazine pouches (minimum for 2 magazines)</li>
            <li>Concealed carry holster, IWB must be rigid type such as blade-tech</li>
            <li>Knee and elbow protection</li>
            <li>Wraparound eye protection</li>
            <li>Hearing protection (electronic preferred)</li>
            <li>Baseball cap with brim</li>
            <li>Hydration system</li>
            <li>Shooting gloves</li>
            <li>Outer garment for concealment</li>
            <li>Cleaning kit</li>
          </ul>
        </p>

        <p><a href="/training_sessions#advanced_tactical_pistol" class='btn btn-gtr-orange'>Book a Class</a></p>

      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingNine">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Competitive Pistol
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body lead">
        <p class='green'><b>$175</b></p>
        <p class='green'><b>Must have taken basic pistol course.</b></p>

        <p>This 1 day course is designed to enhance a shooters skill in many aspects of competitive shooting. Whether IDPA, USPSA, or multi gun competitions the students will be able to sharpen their speed and accuracy through repetitive drills on paper and steel. This course will also enhance a shooters skills as many of the drills can be directly related to the tactical environment.</p>

        <p>Ammunition Requirements - 450 rounds</p>

        <p>Topics Covered:
          <ul>
            <li>Safety</li>
            <li>Shooting fundamentals as applied to competitive shooting</li>
            <li>Drawing and deploying the pistol from various positions</li>
            <li>Reloads</li>
            <li>Movement in and out of positions</li>
            <li>Competitive and tactical engagement of targets</li>
            <li>Shooting from barricades</li>
            <li>One handed shooting techniques</li>
          </ul>
        </p>

        <p><a href="/training_sessions#competitive_pistol" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingTen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Speed Shooting 101
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body lead">
        <p class='green'><b>$250</b></p>
        <p class='green'><b>Advanced Shooter</b></p>

        <p>This 1-day course is designed to increase speed in all aspects of the shooting paradigm. Emphasis is placed on increasing speed beginning with presentation, draw, target acquisition, reloads, multiple targets and shooting from cover to moving targets.</p>

        <p class='green'><em>This course is exclusively instructed by P. Milionis</em></p>

        <p>Class size is 4-6 students!!</p>

        <p>Ammunition Requirements - 700 rounds</p>

        <p><a href="/training_sessions#speed_shooting_101" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingEleven">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Speed Shooting 601
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body lead">
        <p class='green'><b>$500</b></p>
        <p class='green'><b>Advanced Shooter</b></p>

        <p>This 2 day high intensity course culminates all speed shooting skills from competition to real world applications.  Shooters will be taken through an array of fast paced drills designed to push their limitations.  Speed and accuracy at distance will be covered extensively.  Due to the skill level and physical expectations of this course, students will be accepted on an application basis only.</p>

        <p class='green'><em>This course is exclusively instructed by P. Milionis</em></p>

        <p>Class size is 4 students!!</p>

        <p>Outdoor Location</p>

        <p>Ammunition Requirements - 1000 rounds</p>

        <p><a href="/training_sessions#speed_shooting_601" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingTwelve">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Tactical Carbine 1
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body lead">
        <p class='green'><b>$350</b></p>
        
        <p>This is a 2-day course introducing the student to the tactical deployment of the carbine. Day 1 will begin with basics, which includes zeroing and progress into day 2 with shooting from different positions at various distances out to 200 yards. Emphasis will be placed on developing fundamental shooting skills throughout the course.</p>

        <p>Ammunition Requirements - 600 rounds</p>

        <p>Topics Covered:
          <ul>
            <li>Safety</li>
            <li>Shooting fundamentals</li>
            <li>Mindset</li>
            <li>Zeroing</li>
            <li>Loading / Unloading</li>
            <li>Ready positions</li>
            <li>Tactical / speed reloads</li>
            <li>Malfunctions</li>
            <li>Recoil Management</li>
            <li>Multiple shots</li>
            <li>Multiple target engagement</li>
            <li>Failure drills</li>
            <li>Shooting positions</li>
          </ul>
        </p>

        <p>Equipment Required:
          <ul>
            <li>AR style carbine</li>
            <li>4 magazines</li>
            <li>Sling</li>
            <li>Rifle magazine pouch</li>
            <li>Wraparound ballistic eye protection</li>
            <li>Ear protection</li>
            <li>Knee and elbow pads</li>
          </ul>
        </p>

        <p><a href="/training_sessions#tactical_carbine_1" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingThirteen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          Tactical Shotgun
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
      <div class="panel-body lead">
        <p class='green'><b>$250</b></p>
        <p class='green'><b>Open to all shooters</b></p>

        <p>This 1-day course is designed for the experienced, as well as the first time shot gunner. It is a hands on course with the vast majority of the time spent on the various ranges refining the tactical skills required to operate the shotgun under all circumstances. During the shotgun course, the student will be given the opportunity to establish a zero, pattern their barrels for optimal performance and will be given a solid understanding of the fundamentals of the shotgun. The students will also be trained in classical shooting positions, working from a sling, pivots and turns, moving targets, and snap shooting. The course will also explain and expose the myths associated with the shotgun.</p>

        <p>Equipment Requirements:
          <ul>
              <li>Shotgun</li>
              <li>Sling</li>
              <li>Ammo carrier on weapon</li>
              <li>Ear protection</li>
              <li>Eye Protection</li>
              <li>Cleaning Kit</li>
              <li>Flashlight (weapon mounted)</li>
              <li>Knee and elbow pads</li>
              <li>Rain gear</li>
          </ul>
        </p>

        <p>Ammunition Requirements - 100 #00 Buckshot / 75 slugs
        </p>

        <p><a href="/training_sessions#tactical_shotgun" class='btn btn-gtr-orange'>Book a Class</a></p>

      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingFourteen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          NRA Personal Protection Inside the Home (PPITH)
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
      <div class="panel-body lead">
        <p class='green'><b>$225</b></p>
        <p class='green'><b>6-8 HOUR COURSE FOR THOSE WHO HAVE SUCCESSFULLY COMPLETED THE NRA BASIC PISTOL CLASS.</b></p>

        <p>Upon completion of this lesson you should now be able to understand the following:
          <ul>
            <li>Importance of using a firearm responsibly and ethically for personal protection.</li>
            <li>Develop the proper mindset for using a firearm for personal protection and facing a life-threatening encounter.</li>
            <li>Evaluate your state of mental awareness using the four levels of awareness</li>
            <li>Be aware of the importance of mental preparation and physical training for a potentially life-threatening confrontation.</li>
            <li>Dry fire and skill practice then moving to live fire exercises and qualification in the range.</li>
          </ul>
        </p>

        <p>Equipment Requirements:
          <ul>
            <li>Personal firearm (unloaded cased)</li>
            <li>Minimum  of 2 magazines</li>
            <li>150 rounds</li>
            <li>Baseball cap</li>
            <li>Eye and ear protection</li>
            <li>Proper holster</li>
          </ul>
        </p>

        <p><a href="/training_sessions#ppith" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingFifteen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          NRA Personal Protection Outside the Home (PPOTH)
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
      <div class="panel-body lead">
        <p class='green'><b>$225</b></p>
        <p class='green'><b>6-8 HOUR COURSE</b></p>

        <p>Americans enjoy a right that citizens of many other countries do not—the right to own firearms. But with this right come responsibilities.  It is the gun owner’s responsibility to store, operate and maintain his or her firearms safely.  It is the owner’s responsibility to ensure that unauthorized or untrained individuals cannot gain access to his or her firearms.  And it is the gun owner’s responsibility to learn and obey all applicable laws that pertain to the purchase, possession and use of firearms in his or her locale.  Guns are neither safe nor unsafe by themselves.  When gun owners learn and practice responsible gun ownership, guns are safe. This class will include extensive practice of skill and holster work then moving to the live fire discipline and final qualification and competition amongst other students.</p>

        <p>Equipment Requirements:
          <ul>
            <li>Personal firearm (unloaded cased)</li>
            <li>Minimum  of 2 magazines</li>
            <li>250 rounds</li>
            <li>Baseball cap</li>
            <li>Eye and ear protection</li>
            <li>Proper holster</li>
          </ul>
        </p>

        <p><a href="/training_sessions#ppoth" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingSixteen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          NRA Defensive Pistol
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
      <div class="panel-body lead">
        <p class='green'><b>$200</b></p>
        <p class='green'><b>8 HOUR COURSE</b></p>

        <p>Yes, the NRA has now included a new Defensive Pistol Course for those of you that have advanced through NRA courses like Basic Pistol, Personal Protection Inside and Outside the Home. Unlike the NRA Basic courses, Advance Defensive Pistol incorporates all you have learned in the past then elevates the training level based on your skill level and new ones you may want to attain. The curriculum is flexible and allows input from the student so everyone can work on attaining his or her next level of proficiency. Prepare for a day of hard work, lots of shooting and competition against your buddy, This is a NRA certified course and those attending will be awarded with a certificate of completion.</p>

        <p>Equipment Requirements:
          <ul>
            <li>Personal firearm (unloaded cased)</li>
            <li>4 magazines, minimum  of 2</li>
            <li>600-700 rounds</li>
            <li>Baseball cap</li>
            <li>Eye and ear protection</li>
            <li>Proper holster</li>
            <li>Snacks and drinks</li>
          </ul>
        </p>

        <p><a href="/training_sessions#nra_defensive_pistol" class='btn btn-gtr-orange'>Book a Class</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-gtr">
    <div class="panel-heading class-panel" role="tab" id="headingSeventeen">
      <h4 class="panel-title green">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
          GTR Leagues
        </a>
      </h4>
    </div>
    <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
      <div class="panel-body lead">
        <p class='green'><b>League dates, fees and times TBD</b></p>

        <p>Getting involved and having fun!</p>

        <p>Basic competition instruction allows everyone to learn how to shoot 3-gun events, USPSA, IDPA, Bullseye, Police Pistol League and more.</p>

        <p>We invite all women and men with basic firearm skills, to give this fun sport a try. Your first match fee is on us! For more information regarding equipment requirements and details call us.</p>
      </div>
    </div>
  </div>
</div>

