<div class='container'>
	<div class='row padding-top'>
		<div class='col-md-5 col-md-offset-2'>
			<h1 class='green'>Edit <%= @training_class.name %></h1>
		</div>

		<%= render 'form' %>
	</div>
</div>