<div id='announcement' class="alert navbar-fixed-top alert-gtr-green lead text-center">
  <%= link_to "<i class='fa fa-exclamation-circle'></i> #{Announcement.active.content}".html_safe, events_url, class: 'white', "data-no-turbolink" => true %></a>
</div>
